<nav>
         <a href="index.html" class="brand">
            <img class="logo" src="favicon.png" />
    
         </a>

  <!-- responsive-->
         <input id="bmenub" type="checkbox" class="show">
         <label for="bmenub" class="burger pseudo button">Menu</label>

         <div class="menu">
            <a href="index2.0.html" class="{% if page.name != 'index2.0.html' %}pseudo{% endif %} button">Есетра</a>
            <a href="index3.0.html" class="{% if page.name != 'index3.0.html' %}pseudo{% endif %} button">Морска котка</a>
         </div>
      </nav>